appdirs==1.4.4
cfgv==3.4.0
click==8.1.7
cramjam==2.8.3
distlib==0.3.8
exceptiongroup==1.2.2
fastparquet==2024.5.0
filelock==3.13.1
fsspec==2024.9.0
identify==2.5.33
iniconfig==2.0.0
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==2.1.1
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.5.0
pre-commit==3.8.0
pyarrow==17.0.0
pytest==8.3.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2023.12.25
ruff==0.1.15
six==1.16.0
toml==0.10.2
tomli==2.0.1
tzdata==2024.1
virtualenv==20.25.0
scipy==1.15.1
scikit-learn==1.6.1
